@import url("fonts.css");
@import "tailwindcss";

@theme {
  --color-midnight:       #292E3D;
  --color-midnight-02:    rgba(41,	46, 61, 0.2);
  --color-midnight-05:    rgba(41,	46, 61, 0.5);
  --color-light-yellow:   #EEA734;
  --color-white-0.2:      rgba(255, 255, 255, 0.2);
  --color-solitude:       #F2F3F6;
  --color-solitude-2:     #E2E7F5;
  --color-koromiko:       #F8B64C;
  --color-grey:           #818181;
  --color-grey-2:         #7B7B7B;
  --color-dark-gray:      #A8A8A8;
  --color-black-pearl:    #010E16;
  --color-snow:           #F9F9F9;
  --color-black-russian:  #171C2B;
  --color-orange:         #E3981F;
  --font-montserrat:      "Montserrat", serif;
  --font-dream:           "Dreamcast", serif;
  --font-rawline:         "Rawline", sans-serif;
}

@layer utilities {
  html {
    font-family: "Rawline", sans-serif;
    /* scroll-behavior: smooth; */
  }

  h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;

    @media (width >= 64rem /* 1024px */) {
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0%;
    }

    @media (width >= 80rem /* 1280px */) {
      font-size: 64px;
      line-height: 88.59px;
    }
  }

  .container {
    width: 100%;
    @media (width >= 40rem /* 640px */) {
        max-width: 40rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
        max-width: 48rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
        max-width: 64rem /* 1024px */;
    }
    @media (width >= 80rem /* 1280px */) {
        max-width: 80rem /* 1280px */;
    }
    @media (width >= 96rem /* 1536px */) {
        max-width: 96rem /* 1536px */;
    }
    @media (width >= 1660px) {
      max-width: 1660px;
  }
  }
}

.burger {
  opacity: 0;
  pointer-events: none;
  transition: all ease-in 0.2s;
}

.burger-active {
  opacity: 1;
  pointer-events: all;
  transition: all ease-in 0.2s;
}

.banner::before {
  @media (width >= 64rem) {
    content: '';
    width: 660px;
    height: 450px;
    background-color: #292E3D;
    opacity: 0.8;
    filter: blur(10px);
    position: absolute;
    top: -16%;
    left: -12%;
    z-index: 4;
    border-radius: 50%;
  }
}

.banner-block::after {
  @media (width >= 64rem) {
    content: '';
    background-color: #292E3D;
    opacity: 0.7;
    filter: blur(60px);
    position: absolute;
    z-index: 9;
    border-radius: 50%;
    width: 757px;
    height: 250px;
    bottom: -23%;
    right: -14%;
  }

  @media (width >= 96rem) {
    width: 1200px;
    height: 400px;
    bottom: -15%;
    right: -28%;
  }
}

.custom-grid {
  grid-template-columns: 1fr;

  @media (width >= 64rem) { 
    grid-template-columns: repeat(3, auto);
   }

   @media (width >= 96rem) { 
    grid-template-columns: 1fr 120px 260px 1fr 1fr;
  }
}

.custom-grid-1 {
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);

  @media (width >= 64rem) {
    grid-template-rows: auto 20px 450px;
    grid-template-columns: auto 457px;
  }

  @media (width >= 96rem) { 
    grid-template-columns: auto 717px;
    grid-template-rows: auto 450px;
   }
}

.plus {
  animation: opacity linear 0.2s;
}

.minus {
  animation: opacity linear 0.2s;
}

.active .plus {
  display: none;
  opacity: 0;
}

.active .minus {
  display: block;
  opacity: 1;
}

.panel {
  max-height: 0;
  opacity: 0;

  transition: opacity ease-in 0.1s,
  max-height ease-in 0.2s 0.1s;
}

.active ~ .panel {
  transition: opacity ease-in 0.1s 0.15s,
  max-height ease-in 0.2s;
}

@keyframes opacity {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}